#mail{
    background-color: coral;
    border-color: coral
}
#facebook{
    background-color: darkblue; 
    border-color: darkblue
}
#instagram{
    background-color: darkmagenta;
    border-color: darkmagenta;
}